.task-content {
    border-spacing: 0;
    border-bottom: #d0d0d0 1px solid;
    border-right: #d0d0d0 1px solid;
    width: 100%;
    max-width: 980px;
    font-family: Helvetica, serif;
}

.task-content thead {
    color: white;
    background-color: #3498DB;
}

.task-content td,
.task-content th {
    padding: 14px;
    border-top: #d0d0d0 1px solid;
    border-left: #d0d0d0 1px solid;
    text-align: left;
    font-size: 20px;
}

.task-content tbody tr:nth-child(odd) {
    background-color: #eee;
}
