.title {
    background-color: #fff;
    padding-left: 20px;
    padding-bottom: 3px;
    color: #696969;
    font-size: 30px;
    font-weight: normal;
}

.task-content {
    background-color: #feeed6;
    padding: 20px;
    border: 0;
    max-width: 740px;
    color: #696969;
    text-align: left;
    vertical-align: center;
    font-size: 16px;
}

.task-content .form-element {
    padding-bottom: 16px;
}

.task-content label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 4px;
}

.task-content input,
.task-content textarea {
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.task-content textarea {
    height: 120px;
    resize: vertical;
}

.task-content .form-message {
    padding-bottom: 10px;
}

.task-content .form-button {
    text-align: right;
}

.task-content button {
    padding: 12px;
    background-color: #378db2;
    color: white;
    font-weight: bold;
    border: 0;
}

.task-content button:hover {
    background-color: #1a738f;
    cursor: pointer;
}


