body {
    background-color: #feeed6;
}

table.taskTable {
    border: navy 1px solid;
    padding: 5px;
    width: 100%;
    max-width: 800px;
    color: #696969;
}

p.description {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: normal;
}

p.description span {
    font-weight: bold;
    color: #378DB2;
}

p.title {
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}

p.content {
    text-indent: 16px;
    font-size: 16px;
    text-align: justify;
}
