body {
    background-color: white;
}

.taskTable {
    border-spacing: 0;
    border-bottom: #d0d0d0 1px solid;
    border-right: #d0d0d0 1px solid;
    width: 100%;
    max-width: 980px;
    font-family: "PT Sans", serif;
}

.taskTable thead {
    color: white;
    background-color: #3498DB;
}

.taskTable td {
    padding: 8px;
    border-top: #d0d0d0 1px solid;
    border-left: #d0d0d0 1px solid;
    font-size: 20px;
}

.taskTable tbody tr:nth-child(odd) {
    background-color: #eee;
}
