.taskTable {
    border: solid 1px navy;
    border-spacing: 0;
    max-width: 740px;
    width: 100%;
    color: #696969;
}

.taskTable td,
.taskTable th {
    padding: 20px;
    text-align: left;
    vertical-align: center;
}

.taskTable thead {
    background-color: #fff;

}

.taskTable thead th {
    padding-bottom: 4px;
    font-size: 30px;
    font-weight: normal;
}

.taskTable tbody {
    background-color: #feeed6;
}

.taskTable tbody td {
    padding-top: 14px;
    padding-bottom: 0;
}

.taskTable tbody td.last {
    padding-bottom: 20px;
    text-align: right;
}

.taskTable tbody p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 6px;
}

.taskTable input,
.taskTable textarea {
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: #696969;
}

.taskTable textarea {
    height: 120px;
    resize: vertical;
}

.taskTable button {
    padding: 12px;
    background-color: #378db2;
    color: white;
    font-weight: bold;
}
