.task-content {
    border: solid 1px navy;
    border-spacing: 0;
    max-width: 740px;
    width: 100%;
    color: #696969;
}

.task-content td,
.task-content th {
    padding: 20px;
    text-align: left;
    vertical-align: center;
}

.task-content thead {
    background-color: #fff;

}

.task-content thead th {
    padding-bottom: 4px;
    font-size: 30px;
    font-weight: normal;
}

.task-content tbody {
    background-color: #feeed6;
}

.task-content tbody td {
    padding-top: 14px;
    padding-bottom: 0;
}

.task-content tbody td.last {
    padding-bottom: 20px;
    text-align: right;
}

.task-content tbody p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 6px;
}

.task-content input,
.task-content textarea {
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: #696969;
}

.task-content textarea {
    height: 120px;
    resize: vertical;
}

.task-content button {
    padding: 12px;
    background-color: #378db2;
    color: white;
    font-weight: bold;
}
