* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: Tahoma, Arial, serif;
}

.main {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: solid 1px navy;
    border-radius: 4px;
    text-align: left;
}

.title {
    display: inline-block;
    padding: 0 0 10px 0;
    color: #222;
    font-size: 22px;
}

.result {
    display: inline-block;
    padding: 20px 5px 0;
    font-size: 16px;
}

.scale-name {
    width: 35%;
    color: #444;
    text-align: right;
}

.scale-value {
    width: 65%;
    color: navy;
    text-align: left;
    font-weight: bold;
}

.main input {
    width: 100%;
    margin: 10px 0;
    padding: 14px;
    border: solid 1px #aaa;
    border-radius: 4px;
    outline-color: orange;
    text-align: center;
    font-size: 36px;
}

.main input::placeholder {
    color: #ccc;
    opacity: 1.0;
}

.main button {
    border: solid 1px green;
    border-radius: 4px;
    background-color: limegreen;
    outline-color: orange;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
}